@{
    ViewBag.Title = "About";
}
<h2>About US</h2>
<h3>Giving</h3>

<p>MineFullTrader was established to assist those who are struggling throughout the world both financially and emotionally. We have worked hard to bring you a new innovative product that is 100% free and easy to use. Literally with just one button press you can help provide over 220 servings of rice to starving women, children, and men of all ages, monthly.</p>
<br />
<p>For more details please visit our Contact page by clicking Here.</p>
