@{
    ViewBag.Title = "Quote";


}
@using applicationProject.Models


<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto">
        <div class="card-header text-center">
            <h5 class="m-0">Sign up</h5>
        </div>
        <div class="center-text card-body">
            @using (Html.BeginForm("SignUp", "Home", FormMethod.Post))
            {
                <h1 class="text-center">Get a quote for car insurance today</h1>
                
                    <div class="pull-right">
                    <h1 class="pull-right row text text-center">
                        <br />
                        Your quote:
                        <br />
                        <br />
                        $@ViewBag.Quote  
                    </h1>
                    </div>                    
                <div class="pull-left row">
                    <div class="form-group col-md-12">
                        <input name="firstName" type="text" class="form-control" placeholder="First Name" />
                    </div>
                    <div class="form-group col-md-12">
                        <input name="lastName" type="text" class="form-control" placeholder="Last Name" />
                    </div>
                    <div class="form-group col-md-12">
                        <input name="emailAddress" type="email" class="form-control" placeholder="Email Address" />
                    </div>
                    <div class="form-group col-md-12">
                        <input name="dateOfBirth" type="date" class="form-control" placeholder="Date of Birth? Ex. 01/01/1990" />
                    </div>
                    <div class="form-group col-md-12">
                        <input name="carYear" type="text" class="form-control" placeholder="Year of car? Ex. 2002" />
                    </div>
                    <div class="form-group col-md-12">
                        <input name="carMake" type="text" class="form-control" placeholder="Make of car?" />
                    </div>
                    <div class="form-group col-md-12">
                        <input name="carModel" type="text" class="form-control" placeholder="Model of car?" />
                    </div>
                    <div class="form-group col-md-12">
                        <input name="anyDUI" type="text" class="form-control" placeholder="How many DUI's?" />
                    </div>
                    <div class="form-group col-md-12">
                        <input name="speedingTickets" type="text" class="form-control" placeholder="Amount of speeding tickets" />
                    </div>
                    <div class="form-group col-md-12">
                        <input name="coverageType" type="text" class="form-control" placeholder="Liability or Full Coverage?" />
                    </div>
                    <button type="submit" class="btn btn-block btn-primary">Submit</button>
                </div>
                <script>document.getElementById("myQuote").innerHTML = @ViewBag.Quote</script>
                <div id="myQuote"></div>
                



            }
        </div>
       
    </div>
</div>
    